<div class="wpo-about-content">
  <div class="wpo-about-title">
    <h2>My Advantage</h2>
    <p>Highly motivated, self-starting developer building web applications and
      services. Familiar with development and deployment process for many
      web-based technologies. Having expertise over NODEjs for backend & React
      Js for Frontend</p>
  </div>
  <div class="wpo-about-funfact">
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="90">00</span>%</h3>
        <p>HTML,CSS</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="80">00</span>%</h3>
        <p>Javascript</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="95">00</span>%</h3>
        <p>Bootstrap</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="50">00</span>%</h3>
        <p>Photoshop</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="85">00</span>%</h3>
        <p>ReactJS, NextJS</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="75">00</span>%</h3>
        <p>NodeJS</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="63">00</span>%</h3>
        <p>Strapi CMS</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="47">00</span>%</h3>
        <p>Redux Toolkit</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid-inner">
        <h3><span class="odometer" data-count="52">00</span>%</h3>
        <p>Linux, NGINX &amp; PM2</p>
      </div>
    </div>
  </div>
</div>