<section class="partners-section">
  <h2 class="text-center">My Tech Stacks</h2>
  <div class="container mt-4">
    <div class="row">
      <div class="col col-xs-12">
        <div class="partner-grids partners-slider owl-carousel text-center">
          <div class="grid">
            <img
              src="/assets/images/techs/html.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/css.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/javascipt.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/bootstrap.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/photoshop.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/react.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/next.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/nodejs.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/strapi.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/redux.svg"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/linux.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/nginx.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
          <div class="grid">
            <img
              src="/assets/images/techs/pm2.png"
              alt=""
              class="mx-auto"
              style="width: 100px;height:100px;object-fit:contain"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end contianer -->
</section>