<!-- start wpo-page-title -->
<section class="wpo-page-title">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="wpo-breadcumb-wrap">
          <h2>Contact</h2>
          <ol class="wpo-breadcumb-wrap">
            <li><a href="/">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-title -->
<!-- start wpo-contact-pg-section -->
<section class="wpo-contact-pg-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1">
        <div class="office-info">
          <div class="row">
            <div class="col col-xl-4 col-lg-6 col-md-6 col-12">
              <div class="office-info-item h-100">
                <div class="office-info-icon">
                  <div class="icon">
                    <i class="fi flaticon-location"></i>
                  </div>
                </div>
                <div class="office-info-text">
                  <h2>Address</h2>
                  <p>Jaitpur Road, Badarpur New Delhi-44</p>
                </div>
              </div>
            </div>
            <div class="col col-xl-4 col-lg-6 col-md-6 col-12">
              <div class="office-info-item h-100">
                <div class="office-info-icon">
                  <div class="icon">
                    <i class="fi flaticon-mail"></i>
                  </div>
                </div>
                <div class="office-info-text">
                  <h2>Email Us</h2>
                  <p>saurabhcoded@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col col-xl-4 col-lg-6 col-md-6 col-12">
              <div class="office-info-item h-100">
                <div class="office-info-icon">
                  <div class="icon">
                    <i class="fi flaticon-phone-call"></i>
                  </div>
                </div>
                <div class="office-info-text">
                  <h2>Call Now</h2>
                  <p>+91 9310259192</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-contact-title">
          <h2>Have Any Question?</h2>
          <p>Get in touch with me to see how i can help you with your project</p>
        </div>
        <div class="wpo-contact-form-area">
          <form
            method="post"
            action="/contact"
          >
            <div>
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Your Name*"
                required
              />
            </div>
            <div>
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Your Email*"
                required
              />
            </div>
            <div>
              <input
                type="phone"
                class="form-control"
                name="contact"
                placeholder="Contact"
                required
              />
            </div>
            <div>
              <select name="service" class="form-control">
                <option disabled="disabled" selected="">Services</option>
                {{#each service}}<option value="{{this.title}}">{{this.title}}</option>{{/each}}
              </select>
            </div>
            <div class="fullwidth">
              <textarea
                class="form-control"
                name="note"
                placeholder="Message..."
              ></textarea>
            </div>
            <div class="submit-area">
              <button type="submit" class="theme-btn-s2">Get in Touch</button>
              <div id="loader">
                <i class="ti-reload"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
  <div class="shape-1">
    <svg width="1038" height="938" viewBox="0 0 1038 938" fill="none">
      <g opacity="0.5" filter="url(#filter0_f_39_4392)">
        <circle cx="290.5" cy="282.5" r="247.5"></circle>
      </g>
      <defs>
        <filter
          id="filter0_f_39_4392"
          x="-457"
          y="-465"
          width="1495"
          height="1495"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          ></feBlend>
          <feGaussianBlur
            stdDeviation="250"
            result="effect1_foregroundBlur_39_4392"
          ></feGaussianBlur>
        </filter>
      </defs>
    </svg>
  </div>
</section>
<!-- end wpo-contact-pg-section -->

<!--  start wpo-contact-map -->
<section class="wpo-contact-map-section">
  <h2 class="hidden">Contact map</h2>
  <div class="wpo-contact-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7012.344310610179!2d77.32438901457212!3d28.504467739885882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce6e6a42e9d8f%3A0x23ca653b583c5ad4!2sJaitpur%20Rd%2C%20Badarpur%2C%20New%20Delhi%2C%20Delhi%20110044!5e0!3m2!1sen!2sin!4v1668319705409!5m2!1sen!2sin"
      allowfullscreen
    ></iframe>
  </div>
</section>
<!-- end wpo-contact-map -->
<!-- wpo-partners-area-start -->
{{> brands}}
<!-- partners-area-end -->